# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env
config.py
!backend/app.py
# Flask
instance/
*.sqlite3
*.log

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Build Output
build/
dist/

# Logs
logs/
*.log
*.out
*.pid

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.swp

# OS-specific
Thumbs.db
.DS_Store
desktop.ini

# Coverage
.coverage
coverage/
coverage.xml
*.cover
*.gcda
*.gcno
*.gcov

# Testing
pytest_cache/
.pytest_cache/
.tox/
.nox/

# MongoDB Dumps
*.bson
*.json

# Environment and Virtual Environment
env/
vsenv/
vsenv.bak/
*.virtualenv

# Temporary files
*.tmp
*.temp

